@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  /* font weight */
  --fw-bold: 700;
  --fw-normal: 400;
}

html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile: >=375px */
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--Very-Dark-Blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 1rem;
}

.card-rating,
.card-feedback {
  max-width: 700px;
}

.card-rating {
  background-color: var(--Dark-Blue);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.icon-container {
  background-color: hsla(214, 20%, 31%, 0.4);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon-container img {
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translateX(-50%);
}

h1,
h2 {
  color: var(--White);
  font-size: 1.8rem;
}

p {
  color: var(--Light-Grey);
  margin-top: 1rem;
  font-size: 1.1rem;
}

button {
  font-size: 1.1rem;
  cursor: pointer;
}

.feedback-rating-container {
  display: flex;
  justify-content: space-between;
}

.feedback-rating {
  font-weight: var(--fw-bold);
  color: var(--Light-Grey);
  border: none;
  background-color: hsla(214, 20%, 31%, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feedback-rating:hover {
  background-color: var(--Orange);
  color: var(--Dark-Blue);
}

.feedback-rating.active {
  background-color: var(--White);
  color: var(--Dark-Blue);
}

.submit-back {
  background-color: var(--Orange);
  border: none;
  color: var(--Dark-Blue);
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.8rem;
  font-weight: var(--fw-bold);
}

.submit-button:hover {
  background-color: var(--White);
}

.card-feedback {
  background-color: var(--Dark-Blue);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: none;
}

.illustration-container {
  text-align: center;
}

.selected-rating p {
  background-color: hsla(214, 20%, 31%, 0.4);
  border-radius: 1.5rem;
  color: var(--Orange);
  text-align: center;
}

.thanks-text-container {
  text-align: center;
}

footer {
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 0.9rem;
}

footer a {
  color: yellow;
}

/* tablet: 768px-1023px */
@media (768px <= width <= 1023px) {
}

/* desktop: >= 1024px*/
@media (width >= 1024px) {
  main {
    flex-direction: row;
  }

  .card-rating {
    max-width: 400px;
  }

  .card-feedback {
    max-width: 400px;
  }
}
